@font-face {
  font-family: 'Candal';
  font-style: normal;
  font-weight: normal;
  src: local('Candal'), url('http://themes.googleusercontent.com/font?kit=jLTmwQXnoSUiu8Wzw_gquOvvDin1pK8aKteLpeZ5c0A') format('woff');
}
