{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Survival Multiplayer Minecraft at its best</h1>

<p>
    Creeper's Lament is a survival multiplayer (SMP) 
    <a href="http://www.minecraft.net/">Minecraft</a> server. We are 
    semi-private in that we only allow players in that have 
    <a href="{% url pages-registration %}">registered</a>,
    but we impose no limits on who may do so. While we are a survival server,
    our playerbase gravitates towards building and exploration. This server
    is currently home to around ten active players.
</p>

<h2>What is this Minecraft thing?</h2>

<p>
    <a href="http://www.minecraft.net/">Minecraft</a> is low-fi building,
    exploration, and survival game. It is extremely simple, a great creative
    outlet, and playable even by those who don't consider themselves gamers.
</p>
<p>
    The rough premise is that you run around gathering resources and building
    materials, and set out to construct your very own 
    <a href="http://www.youtube.com/watch?v=uvDlIhb16Dc">castles</a>,
    <a href="http://www.youtube.com/watch?v=LnjSWPxJxNs">houses</a>,
    <a href="http://www.youtube.com/watch?v=lKiwWpDTIFE">bridges</a>, 
    <a href="http://www.youtube.com/watch?v=wX5uVXem24s">subways</a>, 
    <a href="http://www.youtube.com/watch?v=arZ08Hl-Rew">floating islands</a>, 
    <a href="http://www.youtube.com/watch?v=lOHyCC-W1oI">statues</a>, 
    or whatever else
    you can imagine. Meanwhile, you have to avoid monsters (that's where
    the survival element comes into play). Youtube videos, screenshots,
    and write-ups don't adequately show why this game is fun, it's something
    that makes a lot more sense after trying it.
</p>
<p>
    You may <a href="http://www.minecraft.net/prepurchase.jsp">buy the game</a>
    for about $25. The developer is a small indie game company, so queue
    feel-good feelings for supporting a budding company with great ideas. 
</p>

<h2>Some Background Info</h2>

<p>
    This server was started as a result of a handful of friends being
    frustrated with a few servers we haunted. Many of the original members
    of Creeper's Remorse are professionals in Web development, Networking,
    and the IT field at large. Combining our knowledge and experience, we
    aim to deliver the following:
</p>

<ul>
  <li>
    Reliability. It sucks when someone gets in the way of your addic...
    hobby. The server only goes down for patching when new goodies are
    released.
  </li>
  <li>
    Performance. This is not being ran on a spare machine in someone's
    basement. We are hosted in a high grade data center in Atlanta, and
    are able to scale up to handle more players as needed.
  </li>
  <li>
    Safety. We back up aggressively, and are a white-list restricted
    server. Your creations will be safe, and should you choose to leave,
    feel free to take a copy of the 
    <a href="http://s3.amazonaws.com/mcserver-backups/latest.tar.bz2">latest world map</a> with you.
  </li>
  <li>
    Freedom from meddling. There are no in-game ops. Everyone must harvest,
    mine, and gather on their own. No freebies, no power-tripping mods.
    Changes and policies are discussed on our friendly 
    <a href="http://groups.google.com/group/creeperslament">mailing list</a>.
</ul>

<h2>How to get playing</h2>

<p>
    For those that are new, you'll want to make your way over to the
    <a href="{% url pages-registration %}">Registration</a> page. Those who are 
    already signed up and white-listed may point their client at the following 
    address:
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>smp.creeperslament.com</strong>
</p>
<p>
    <em>
    Note: If you have not followed the instructions on the
    <a href="{% url pages-registration %}">Registration</a>
    page, you will not be able to connect.
    </em>
</p>
<p>
    If you have already registered and would like some guidance in starting
    out, see our <a href="{% url pages-getting_started %}">Getting Started</a>
    guide.
</p>
{% endblock %}