{% extends "base.html" %}

{% block title %}Payment Received{% endblock %}

{% block body %}
<h1>Payment Received</h1>

<p>
    Your payment has been received. If you did not include a note as to which
    account the payment was for, please take a moment to send a quick email
    to the <a href="mailto:gtaylor@gc-taylor.com">admin</a> letting us know.
    We'll have you white-listed shortly!
</p>

<p>
    While you are waiting to be white-listed, we recommend checking out
    the <a href="{% url pages-getting_started %}">Getting Started</a> page
    to start learning the ropes. We will get in touch with you as soon
    as you are white-listed and ready to connect.
</p>

<p style="text-align:center">
    <img src="{% media_url 'img/subscribe_thanks.jpg' %}">
</p>

{% endblock %}