{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block body %}
<h1>Registration</h1>

<p>
    Access to Creeper's Lament is granted by getting your username added
    to our server's white list. We restrict access in order to keep the
    griefers out, and to make sure our server can scale up as needed.
</p>
<p>
    Hosting a server in a commercial data center costs a good bit of money. 
    In the interest of fairness (this should not be one person's burden) and 
    making sure this server remains, even as people come and
    go, we split the hosting costs equally between all players. This allows
    us to beef up our server as we add more people, or save money by
    scaling it back when people leave. In this manner, we can maintain a
    near-constant price point, and see the same excellent performance and
    reliability we do now.
</p>

<h2>Why play on this server, versus other [free] ones?</h2>

<p>
    Running a Minecraft server [well] is a tricky endeavor, and is not 
    something you want to run on your home connection. Minecraft is extremely 
    sensitive to latency and irregularities in the host and client's internet 
    connections. Running the server in a data center offers the greatest 
    volume of bandwidth, at the most reliable level.
</p>

<p>
    The server application itself is also very inefficient, requiring us to 
    seek out optimizations for speed on the Linux and Java VM levels to help 
    lessen or prevent the infamous stuttering we see on Minecraft multiplayer. 
    The administrative staff handles this for you, so you can break blocks 
    better/faster. Other things like automated backups and prompt Minecraft 
    Server updates are things that you probably don't think about, but notice 
    when they are not done and disaster strikes.
</p>

<p>
    We all chip in to help provide a fast, secure, safe, and reliable 
    Minecraft server. Since we are a private server, we are protected from 
    griefers, and your creations will be free from harm.
</p>

<h2>Keeping the lights on</h2>

<p>
    This Minecraft server is currently hosted on Linode, and is on the 
    768 MB plan. This costs about $30/month. Rather than one person shouldering 
    the burden, we have elected to distribute the costs between the people who 
    play on this server. There are some additional benefits to this setup, 
    aside from the one person thing:
</p>
<ul>
    <li>The more people that sign up, the cheaper it gets for everyone.</li>
    <li>
        As the subscription base grows, we can upgrade the Linode VM to a 
        higher plan, giving us more resources.
    </li>
</ul>
<p>
    It is important to understand that we are not a for-profit business. 
    We are all aiming to pay the least amount possible to keep the lights on. 
    We are not selling work, we make no claims of ownership to the world.
</p>

<h2>How to start playing</h2>

<p>
    If you are interested in playing on our server, please fill out a
    <a href="https://spreadsheets.google.com/viewform?formkey=dDJUcndmUTdXVUJ2MEVucDZnSGF1M2c6MQ">trial request form</a>. 
    We can arrange a week-long trial if you'd like to play a while before 
    deciding whether to toss your money in the pot. You will not be able to 
    connect to the server until we have white-listed your account, so make sure 
    to get in touch so we can get your username added.
</p>

<p>
    If you'd like to become a more permanent fixture on the server, click the 
    Subscribe button below and set up a recurring payment. We will adjust the 
    rate (and communicate before doing so) as people come and go.
</p>

<p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="6N4RDSKTQJ8LS">
<input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</p>

<p>
    You may unsubscribe at any time by clicking on the following link, or
    by cancelling within your PayPal account.
</p>
<p>
	<A HREF="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=QPH59V44HPAXJ">
	<IMG SRC="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/btn/btn_unsubscribe_LG.gif" BORDER="0">
	</A>
</p> 
 
<h2>What subscribing does get you</h2>

<ul>
    <li>Access to our private Minecraft server.</li>
    <li>Protection from the all-too-common griefers on public servers.</li>
    <li>
        Warm fuzzies for helping keep a private, protected, zippy Minecraft 
        server running for the enjoyment of yourself and others.
    </li>
    <li>
        If interest in the server ever drops to the point where we all decide
        to stop paying for it, you can get a copy of the world files to play 
        locally, or on your own server.
    </li>
</ul>

<h2>What subscribing does not get you</h2>

<ul>
    <li>
	    Elevated privileges (admin rights). These are potentially dangerous, 
	    prone  to accidental breakage, and improper use can anger other players.
    </li>
    <li>
        Any kind of ownership of the server or world. The world files are
        licensed under Creative Commons, and the server is rented.
    </li>
    <li>
        A pony.
    </li>
</ul>

<h2>The golden rule</h2>

<p>
    Absolutely no destructive griefing: No burning down of houses, 
    destruction of another player's stuff, and etc. If what you're doing causes 
    someone else's playing time to be wasted, it is not OK.
</p>

<h2>FAQ</h2>

<ul>
    <li>
        <strong>What mods are you running?</strong><br>
        None right now. We'll all need to discuss whether we ever want to, as 
        it adds complexity to a few things, and is buggy.
    </li>
    <li>
        <strong>Can I bring friends?</strong><br>
        Absolutely. Send their names to me at snagglepants AT gmail DOT com 
        and we can white-list them for a free week to poke around and play.
    </li>
    <li>
        <strong>Can I get a copy of the world?</strong><br>
        <a href="http://s3.amazonaws.com/mcserver-backups/latest.tar.bz2">Sure</a>.
    </li>
</ul>

{% endblock %}