{% extends "base.html" %}

{% block title %}Getting Started{% endblock %}

{% block body %}
<h1>Useful Resources</h1>

<p>
    This page contains a number of useful resources for those playing
    on our server. These are not required reading, but they can/will make
    life easier for you.
</p>

<h2>Beginner Resources</h2>

<ul>
    <li><a href="http://www.youtube.com/watch?v=ylVtj-1Ccgg">Tutorial video</a></li>
</ul>

<h2>Crafting Resources</h2>

<ul>
    <li><a href="http://www.minecraftwiki.net/wiki/Crafting">Crafting Recipes</a></li>
    <li><a href="http://www.minecraftwiki.net/wiki/Smelting">Smelting</a></li>
</ul>

<h2>Inspiration and Ideas</h2>

<ul>
    <li><a href="http://www.reddit.com/r/Minecraft/">Minecraft sub-reddit</a></li>
</ul>

<h2>World Info</h2>

<p>
    The following resources are useful for those playing on our server in
    particular, as they are specific to our world.
</p>

<ul>
    <li><a href="http://mcmap.s3-website-us-east-1.amazonaws.com/omap/">World map</a></li>
</ul>

{% endblock %}