<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="minecraft, smp, multiplayer">
  <meta name="description" content="Website for the Creeper's Lament Minecraft server.">
  <title>Creeper&rsquo;s Lament &mdash; {% block title %}{{page_title}}{% endblock %}</title>
  <link rel="shortcut icon" href="{% media_url 'img/favicon.ico' %}">

  {% block extra_head %}{% endblock %}
  
  {% css 'css/joined_base.css' %}
  {% block extra_head_css %}{% endblock %}
  
  {% block extra_head_js %}{% endblock %}

</head>

<body>
<div id="container">
  <div id="header">
    <div id="title_container">
      
    </div>
  </div>
  
  <div id="menu">
    <div class="menu_button">
      <a href="{% url home %}">Home</a>
    </div>
    <div class="menu_button">
      <a href="{% url pages-registration %}">Registration</a>
    </div>
    <div class="menu_button">
      <a href="{% url pages-getting_started %}">Getting Started</a>
    </div>
    <div class="menu_button">
      <a href="{% url pages-useful_resources %}">Useful Resources</a>
    </div>
    <div class="menu_button">
      <a href="{% url pages-support %}">Support</a>
    </div>
    <div class="menu_button">
      <a href="http://groups.google.com/group/creeperslament">Mailing List</a>
    </div>
    <div class="menu_button">
      <a href="http://mcmap.s3-website-us-east-1.amazonaws.com/omap/">World Map</a>
    </div>
  </div>
  
  <div id="body_wrap">

    <div id="{% block content_class %}content{% endblock %}">
      {% block body %}
      <h2>Default Header</h2>
      <p>Filler content</p>
      {% endblock %}
    </div>

    <div id="footer">
      All material is licensed under 
      <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons</a>, 
      unless otherwise noted. 
    </div>

    
  </div>

</div>
</body>
</html>

